{% extends 'base.html' %}

{% block content %}
      <h2>Upload</h2>
      <form method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="file" name="document">
        <button type="submit" class="btn btn-primary btn-lg">Upload file</button>
      </form>
      <br><br>
      {% if url %}
        <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
        <video width="530" height="440" controls autoplay>
          <source src="{{ url }}" type="video/mp4">
        </video>
        <video width="530" height="440" controls autoplay>
          <source src="/media/outputtest5.mp4" type="video/mp4">
        </video>



  {% endif %}
 <form action="/external/" method="post">
    {% csrf_token %}
    Wie lange ihr Unterarm ?
    <input type="number" name="param" placeholder="cm" required ><br><br>
    {{data_external}}<br><br>
    {{data1}}
    <br><br>
    <input type="submit" value="RUN" class="btn btn-primary btn-lg">
    </form>

    <footer>
      <small>&copy; Copyright 2020, Sanga Corporation</small>
    </footer>
    
{% endblock %}

